<% use_anchor ||= false %>
<% prefix_anchor ||= false %>
<div class="clt node_subtree_full">
  <ul>
    <li>
      <%= render "subtree_draw", node: @node, max_depth: 999, use_anchor: use_anchor, prefix_anchor: prefix_anchor %>
    </li>
  </ul>
</div>
