<section class="section">
  <div class="columns is-centered mt-6">
    <div class="column">
      <h1 class="title is-size-2">New Post</h1>
      <%= render 'form_new_topic', parent_id: @parent.id, node: @node %>
    </div>
  </div>
</section>
