<section class="section">
<div class="columns is-centered mt-6">
    <div class="column">
        <h1 class="title is-size-2">New Post</h1>
        <%= render 'form_new_topic', parent_id: @parent_id, node: @node %>

        <%= link_to 'Back', node_path(@parent_id) %>
    </div>
</div>
</section>