<% content_for :title do %>
  Critical Fallibilism Forum
<% end %>
<% content_for :subtitle do %>
  <%= @node.content.title || "untitled" %>
<% end %>
<%= render 'view_node', node: @node %>
<% unless @node.parent.nil? %>
  <div class="columns is-centered mt-6">
    <%= link_to "To Parent", node_path(@node.parent), class: "button is-link is-outlined is-centered" %>
  </div>
<% end %>
